.card {
  border-radius: 0.375rem;
  padding: 1rem;
  background: linear-gradient(to bottom right, var(--from-color), var(--to-color));
}

.card.saving {
  --from-color: rgb(21, 128, 61);
  --to-color: rgb(74, 222, 128);
}

.card.expense {
  --from-color: rgb(157, 23, 77);
  --to-color: rgb(219, 39, 119);
}

.card.investment {
  --from-color: rgb(29, 78, 216);
  --to-color: rgb(96, 165, 250);
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.deleteButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.editButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.cardInfo {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 0.75rem;
  color: #000;
  font-weight: bold;
}

.profilePicture {
  height: 2rem;
  width: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  object-fit: cover;
}
