.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formWrapper {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 50;
  background-color: #d1d5db;
}

.formContainer {
  width: 100%;
  background-color: #f3f4f6;
  min-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContent {
  max-width: 28rem;
  width: 100%;
  padding: 1.5rem;
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #000;
  text-align: center;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #6b7280;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1rem;
}

.button:hover:not(:disabled) {
  background-color: #1f2937;
}

.button:focus {
  outline: none;
  background-color: #000;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #111827;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.footer {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #4b5563;
  text-align: center;
}

.footer a {
  color: #000;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.radioGroup {
  display: flex;
  gap: 2.5rem;
}

@media (min-width: 640px) {
  .formContainer {
    min-width: 24rem;
  }
}
