.transactionPage {
  min-height: 100vh;
  max-width: 56rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.pageTitle {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  z-index: 50;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background: linear-gradient(to right, rgb(219, 39, 119), rgb(99, 102, 241), rgb(244, 114, 182));
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
}

@media (min-width: 768px) {
  .pageTitle {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .pageTitle {
    font-size: 2.25rem;
  }
}
