.header {
  margin-bottom: 2.5rem;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 50;
  color: white;
  padding-top: 2.5rem;
}

.title a {
  color: inherit;
  text-decoration: none;
}

.gradientContainer {
  position: relative;
  margin-bottom: 2.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.gradient1 {
  position: absolute;
  left: 5rem;
  top: 0;
  background: linear-gradient(to right, transparent, rgb(99, 102, 241), transparent);
  height: 2px;
  width: 75%;
  filter: blur(2px);
}

.gradient2 {
  position: absolute;
  left: 5rem;
  top: 0;
  background: linear-gradient(to right, transparent, rgb(99, 102, 241), transparent);
  height: 1px;
  width: 75%;
}

.gradient3 {
  position: absolute;
  left: 15rem;
  top: 0;
  background: linear-gradient(to right, transparent, rgb(14, 165, 233), transparent);
  height: 5px;
  width: 25%;
  filter: blur(2px);
}

.gradient4 {
  position: absolute;
  left: 15rem;
  top: 0;
  background: linear-gradient(to right, transparent, rgb(14, 165, 233), transparent);
  height: 1px;
  width: 25%;
}

@media (min-width: 768px) {
  .title {
    font-size: 3.75rem;
  }
  
  .gradientContainer {
    display: block;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 6rem;
  }
}
